
<!-- Esto es el formulario, lo mismo, dice que herada -->
{% extends 'base.html' %}

<!-- remplaza lo que sea que  haya por esto, puedes utilizar grid, flexbox, etc. lo mecesario es para que se conecten eso es el pro de jin -->
{% block content %}
<h2>Registrar Usuario</h2>
<form method="post">
    <label for="first_name">Nombre:</label>
    <input type="text" id="first_name" name="first_name" required><br>
    <label for="last_name">Apellido:</label>
    <input type="text" id="last_name" name="last_name" required><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required><br>
    <label for="date">Fecha de Nacimiento:</label>
    <input type="date" id="date" name="date" required><br>
    <input type="submit" value="Registrar">
</form>
{% endblock %}